html {
    font-size: 20px;
    font-family: 'Roborto Mono', monospace;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #0a192f;
    background-size: cover;
    color: #333;
    overflow-x: hidden;
}

* {
    margin: 0;
    line-height: 100%;
    font-family: 'Roborto Mono', monospace;
    box-sizing: border-box;
}

header, footer {
    width: 100%;
}

header {
    display: block;
    height: 82px;
    transition: .2s ease-in-out;
    z-index: 5;
}

header:hover {
    background: rgba(0, 0, 0, 0.3);
}

body {
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

header .container img {
    height: 70%;
    width: auto;
    display: block;
}

header .container #header_icon {
    display: block;
    transform: rotate(0deg);
    transition: all 0.8s ease 0s;
    width: auto;
}

header .container #header_icon:hover {
    transform: rotate(360deg);
}

header .container {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header .container nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    z-index: 5;
}

header .container nav a {
    color: #CCD6F6;
    transition: .2s ease-in-out;
    outline: none;
    text-decoration: none;
    border: none;
}

header .container nav a:hover {
    opacity: .8;
    color: #64FFDA;
}

header .container nav a.active {
    color: rgb(214, 0, 160);
}

#shevanister {
    width: 40%;
    filter: brightness(0.5);
    border: 3px solid #64FFDA;
}

#shevanister:hover {
    transition: all 0.8s ease 0s;
    filter: brightness(1);
}

button {
    background-color: #0a192f;
    color: #64FFDA;
    border-color: #64FFDA;
    font-size: 20px;

}

button:hover {
    opacity: .8;
}

#contact_me {
    margin-top: 5%;
    padding: 3%;
}

a {
    color: #64FFDA;
}

.main_content {
    display: inline-block;
    margin: 0 auto;
}

.main_content h1,h2,h3,h4 {
    max-width: 30rem;
    overflow: hidden;
    width: 80%;
    font-weight: 300;
}

.main_section {
    display: flex;
    margin-top: 5%;
    margin-left: 30%;
    align-items: center;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

#first_line {
    color: #64FFDA;
    line-height: 200%;
}

.main_content h1 {
    color: white;
    line-height: 150%;
    font-weight: 300;
    opacity: .9;

}

.main_content h4 {
    color: #8892B0;
    opacity: .8;
}

.about_me {
    display: flex;
    align-items: center;
    margin: 15% auto;
    padding-top: 10%;
    padding-bottom: 10%;
    background: rgba(0, 0, 0, 0.3);
}

.about_me_content {
    margin: auto;
}

.about_me_content h1 {
    color: #CCD6F6;
}

.about_me_content p {
    margin-top: 2%;
    color: #8892B0;
    font-size: 100%;
    opacity: .8;
    font-weight: 300;
    line-height: 120%;
    max-width: 30rem;
}

.about_me_content ul {
    list-style-type: none;
}

.about_me_content ul>li {
    color: #8892B0;
    line-height: 1.8;
}

.about_me_content ul>li:before {
    content: "⯈";
    width: 80%;
    padding-right: 10px;
    color: #64FFDA;
}

.projects {
    padding: 0;
}

.projects_content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.projects h1 {
    color: #CCD6F6;
}

.projects .container {
    margin: 5% auto;
}

.projects .projects_content {
    height: calc(90vh - 100px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 50%);
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.projects .projects_content>div {
    color: #333333;
    width: 80%;
    height: 100%;
    margin: 20% auto;
    transition: .2s ease-in-out;
    border-radius: 2px;
    background: #172746;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.projects .projects_content>div:hover {
    scale: 1.08;
}

.projects_content h3 {
    margin-top: 4%;
    color: white;
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    background: #333333;
    top: 100%;
    left: 0;
    opacity: 0.8;
    transition: 0.5s;
}

.projects_content div:hover .text{
    top:50%;
}

.project_picture {
    margin-top: 4%;
}

#sis_picture {
    width: 110%;
}

#karbyshevhelp_picture {
    width: 120%;
}

.text p{
    text-align: start;
    margin-top: 5%;
    padding-left: 2%;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.text .stack {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 50%);
    margin-top: 5%;
}

.stack p {
    margin-top: 1%;
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
}

.text a {
    width: 8%;
    margin-left: 40%;
    color: white;
}

.text a:hover {
    color: #64FFDA;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: rgba(0, 0, 0, 0.3);
}

.contacts_content {
    text-align: center;
}

.contacts h1 {
    color: #CCD6F6;
}

.contacts p {
    margin-top: 2%;
    text-align: center;
    color: #8892B0;
    font-size: 100%;
    opacity: .8;
    font-weight: 300;
    line-height: 120%;
    max-width: 30rem;
}

#email {
    color: #64FFDA;
}

footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}

footer p {
    color: #A8B2D1;
    font-size: 12px;
    padding-bottom: 2%;
}

