html {
    font-size: 20px;
    font-family: 'Roborto Mono', monospace;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #0a192f;
    background-size: cover;
    color: #333;
    overflow-x: hidden;
}

* {
    margin: 0;
    line-height: 100%;
    font-family: 'Roborto Mono', monospace;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    user-select: none;
}

section {
    width: 100vw;
    padding: 80px 0;
}

header, footer {
    width: 100%;
}

header {
    display: block;
    height: 96px;
    transition: .2s ease-in-out;
    z-index: 5;
    background: rgb(16, 16, 30);
    position: sticky;
    top: 0;
}

body {
    max-width: 100vw;
    width: 100%;
}

header .container img {
    height: 70%;
    width: auto;
    display: block;
}

header .container #header_icon {
    display: block;
    transform: rotate(0deg);
    transition: all 0.8s ease 0s;
    width: auto;
}

header .container #header_icon:hover {
    transform: rotate(360deg);
}

header .container {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header .container nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    z-index: 5;
}

header .container nav a {
    color: #CCD6F6;
    transition: .2s ease-in-out;
    outline: none;
    text-decoration: none;
    border: none;
}

header .container nav a.resume {
    background-color: #0a192f;
    color: #64FFDA;
    border: #64FFDA solid 1px;
    font-size: 1rem;
    padding: 12px 24px;
}

a.resume {
    background-color: #0a192f;
    color: #64FFDA;
    border: #64FFDA solid 1px;
    font-size: 1rem;
    padding: 12px 24px;
}

header .container nav a:hover {
    opacity: .8;
    color: #64FFDA;
}

header .container nav a:active {
    transition: .1s ease-in-out;
    opacity: 1;
}

button:hover {
    opacity: .8;
}

a {
    color: #64FFDA;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.main .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.main .container>div h4:first-of-type {
    color: #64FFDA;
    line-height: 200%;
}

.main .container>div h1 {
    color: white;
    line-height: 100%;
    margin: 8px 0;
    font-weight: 300;
    opacity: .9;
    width: 31ch;
    overflow: hidden;
    white-space: nowrap;
    animation: print-text 3s steps(31), type-line .75s step-start infinite;
    border-right: 1px solid #FFF;
    
}

.main .container a {
    border: #64FFDA solid 1px;
    color: #64FFDA;
    font-size: 1rem;
    padding: 12px 24px;
}

.main .container a:hover {
    opacity: .8;
}

.main .container>div p {
    color: #8892B0;
    opacity: .8;
    margin-top: 20px;
    font-size: 1rem;
    line-height: 150%;
}

.main .container>div a {
    margin-top: 40px;
    display: block;
    max-width: max-content;
    text-decoration: none;
}

.main .container img {
    width: 470px;
    height: auto;
    display: block;
    filter: brightness(0.8);
    transition: all 0.8s ease;
    border: 3px solid #64FFDA;
}

.main .container div.main-img {
    position: relative;
}

.main .container div.main-img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 8px;
    left: 8px;
    transform: translateX(-10px) translateY(-10px);
    z-index: -1;
    border: 2px solid #1c6957;
    transition: .4s ease-in-out;
}

.main .container div.main-img:hover::after {
    transform: none;
}

.main .container div.main-img:hover img {
    transform: translateX(-8px) translateY(-8px);
}

.main .container img:hover {
    filter: brightness(1);
}

.about_me {
    background: rgba(0, 0, 0, 0.3);
}

section h1 {
    color: #CCD6F6;
    font-size: 1.4rem;
}

.about_me h1 {
    padding-bottom: 8px;
    border-bottom: 2px #4f5462 solid;
    margin-bottom: 40px;
}

.about_me .container .content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.about_me .container p {
    margin-top: 20px;
    color: #8892B0;
    font-size: 1rem;
    opacity: 1;
    font-weight: 300;
    line-height: 140%;
    max-width: 30rem;
}

.about_me .container .content div.techs {
    max-width: 420px;
    padding: 30px;
    background-color: #0a1425;
    height: max-content;
    border-radius: 6px;
}

.about_me .container .content div.techs p {
    font-size: .9rem;
    margin: 0;
}

.about_me .container .content div.techs ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}


.about_me .container .content div.techs ul li {
    width: calc(50% - 10px);
    text-align: center;
    color: #CCD6F6;
    padding: 14px 6px;
    font-size: .75rem;
    background-color: #172746;
    position: relative;
}

.about_me .container .content div.techs ul li::after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
    width: 100%;
    height: 100%;
    border-top: solid 2px #1c6957;
    border-bottom: solid 2px #1c6957;
    max-width: 0;
    transition: .3s ease-in-out;
}

.about_me .container .content div.techs ul li:nth-child(2n):after {
    right: auto;
    left: 0;
}

.about_me .container .content div.techs ul li:hover::after {
    max-width: 100%;
}

#android_pic {
    width: 39%;
}

.projects h1 {
    padding-bottom: 8px;
    border-bottom: 2px #4f5462 solid;
    margin-bottom: 40px;
}

.projects_content {
    width: 100%;
}

.projects .projects_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    flex-wrap: wrap;
}

.projects .projects_content>div {
    color: #333333;
    width: calc(50% - 30px);
    height: 100%;
    height: 420px;
    transition: .2s ease-in-out;
    border-radius: 2px;
    background: #172746;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.projects .projects_content>div img {
    height: auto;
    width: 100%;
}

.projects_content h3 {
    color: white;
    padding: 20px 0;
}

.text {
    width: 100%;
    height: max-content;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: .3s ease-in-out;
    background: #0a1425e2;
    padding: 20px 30px;
    opacity: 0;
}

.project:hover .text {
    opacity: 1;
}

.text p.note {
    color: #d5dbf0;
    text-align: left;
    line-height: 140%;
    font-size: .9rem;
}

.stack {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.stack a.github {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    max-width: max-content;
    font-size: .9rem;
}

.stack a.github:hover {
    opacity: .8;
}

.stack p {
    font-size: .75rem;
    color: #a3abc2;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.text a.github::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('./res/github-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contacts {
    background: rgba(0, 0, 0, 0.3);
}

.contacts_content {
    text-align: center;
}

.contacts h1 {
    color: #CCD6F6;
    text-align: center;
    min-width: max-content;
    margin: 0 auto;
    max-width: 40%;
    padding-bottom: 8px;
    border-bottom: 2px #4f5462 solid;
    margin-bottom: 24px;
}

.contacts p {
    text-align: center;
    color: #8892B0;
    opacity: .8;
    font-size: .9rem;
    font-weight: 300;
    line-height: 120%;
    max-width: 50%;
    margin: 0 auto;
}

.contact-data {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
    margin-top: 32px;
}

.contact-data a {
    text-align: center;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.contact-data a:hover {
    transform: scale(1.2);
}


footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.428);
    padding: 32px 0;
}

footer p {
    color: #A8B2D1;
    font-size: .6rem;
}

* .mob {
    display: none;
}

@media only screen and (max-width: 1400px) {
    .container {
        max-width: 1080px;
    }

    .main .container img {
        width: 400px;
    }
}

@media only screen and (max-width: 1300px) {
    .container {
        max-width: 1040px;
    }

    section {
        padding: 70px 0;
    }

    .main .container img {
        width: 360px;
    }
}

@media only screen and (max-width: 1000px) {

    html {
        font-size: 18px;
    }

    header .container nav {
        display: none;
    }

    * .mob {
        display: block;
    }

    .container {
        padding: 0 16px;
    }

    section {
        padding: 40px 0;
    }

    .main .container {
        flex-direction: column;
    }

    .main .container > div h1 {
        font-size: 1.1rem;
    }

    .main .container > div p {
        font-size: .8rem;
        margin-top: 14px;
    }

    .main .container > div a {
        background-color: #0a192f;
        color: #64FFDA;
        border: #64FFDA solid 1px;
        font-size: 1rem;
        padding: 14px 24px;
        margin-top: 32px;
    }

    section.sheva {
        min-height: 200px;
        background: url('./res/shevan-mob.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: top;
        padding: 0;
        background-position-x: center;
    }

    .main .container div.main-img {
        display: none;
    }

    .about_me .container .content {
        flex-direction: column;
    }

    .about_me h1 {
        margin-bottom: 6px;
    }

    .about_me .container .content div.techs {
        padding: 14px;
        margin-top: 40px;
        max-width: 100%;
    }

    .about_me .container .content div.techs p {
        text-align: center;
    }

    .projects .projects_content > div {
        width: 100%;
        height: auto;
    }

    .text {
        opacity: 1;
        padding: 12px;
    }

    .text p.note {
        font-size: .8rem;
        text-align: center;
    }

    .stack {
        flex-direction: column-reverse;
        gap: 14px;
    }

    .contacts p {
        max-width: 100%;
    }

    .projects h1, .about_me h1, .contacts h1 {
        font-size: 1.2rem;
    }

    .projects_content h3, .main .container > div h1 {
        font-size: 1rem;
    }
    
}

@keyframes print-text {
    from {
      width: 0;
    }
}

@keyframes type-line{
    0%{
      border-color: #FFF;
    }
    50%{
      border-color: transparent;
    }
    100%{
      border-color: #FFF;
    }
  }